* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Press Start 2P", sans-serif;
    background-color: #232222;
    color: white;
}

.game-won {
    background-color: #60b347;
}

.header-container {
    padding: 20px;
    border-bottom: solid 8px white;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 20px;
    background-color: white;
    font-family: "Press Start 2P", sans-serif;
    font-size: large;
    border: none;
}

.btn:not(:disabled):hover {
    background-color: #cecccc;
}

.btn:not(:disabled):active {
    background-color: #908f8f;
}

.btn:disabled {
    cursor: not-allowed;
}

.header-title {
    margin: 10px 0px;
    font-size: 40px;
    text-align: center;
}

.random-number {
    width: 10rem;
    height: 100px;
    padding: 24px 0px;
    margin: 0px auto;
    transform: translate(0px, 70px);
    background-color: white;
    color: #232222;
    font-size: 60px;
    text-align: center;
}

.random-number-win {
    width: 15rem;
}

.content-container {
    display: flex;
    justify-content: space-around;
    /* background-color: #232222; */
    padding: 40px;
}

.input-section {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.number-input {
    width: 250px;
    height: 130px;
    padding: 20px;
    background-color: transparent;
    color: white;
    font-family: "Press Start 2P", sans-serif;
    font-size: 50px;
    text-align: center;
    border: solid 5px white;
}

.number-input:focus {
    outline: none
}

.result-section {
    font-size: 22px;
}

.message-container {
    margin: 70px 0;
}

.scores-container {
    margin: 10px 0;
}